body {
  background-color: rgb(211, 162, 118);
}

#top {
  display: flex;
}

#firstSection {
  margin-left: -3%;
  margin-top: -7%;
}

#arena {
  display: flex;
}

canvas {
    border-style: solid;
    border-color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000pt;
    height: 400px;
    width: 600px;
    margin-top: -6%;

}