body {
  padding: 0% 30% 10% 30%;
  background: linear-gradient(270deg, #cfdc3e 0%,#ebfa01 50%,#cfdc3e 100%);
  transform: scale(1.2rem);  
  color: rgb(62, 69, 75);
  font-weight: bolder;
  
}

#logo {
    font-family: "Anton", sans-serif;
    font-weight: 900;
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 8px 8px lightgray;
}


.front {
    margin: 15% 0%;
}

div.front {
    font-family: "Roboto Mono", sans-serif;
}

/* #front-one*/
/*#front-two */
/* #front-three */
/* #front-four */
button{
    margin-left: 45%;
    
}
